

.navvbar{
    color: beige;
    font-family: 'Zen Dots', cursive;
   
}
.about{
    text-align: center;
    font-family: 'Zen Dots', cursive;
}
.latestlaunch{
    text-align: center;
    font-family: 'Zen Dots', cursive;
}
.crew{
    text-align: center;
    font-family: 'Zen Dots', cursive;

}
.contact{
    text-align: center;
    font-family: 'Zen Dots', cursive;
}